@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-size: inherit;
  font-weight: 400;*/
}

/*.container{max-width: $mw+px;margin: 0 auto;width: 100%;
@media (max-width:$md1+px){max-width: 750px;}
@media (max-width:$md2+px){max-width: none;padding: 0 10px;}
}*/
/*.icon-menu{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	span{
		@include anim(0.3s, 0s);
		top: calc(50% - 1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		&:first-child{
			top: 0;
		}
		&:last-child{
			top: auto;
			bottom: 0;
		}
		&._active{
			span{
				@include scale(0);
				&:first-child{
					@include rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					@include rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.-ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.-ibg img {
  display: none;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  padding: 50px;
}

.-container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
  /*
  @media (max-width: $md1) {
  	max-width: 970px;
  }
  @media (max-width: $md2) {
  	max-width: 750px;
  }
  @media (max-width: $md3) {
  	max-width: none;
  	padding: 0 10px;
  }
  */
}

.block__item {
  margin: 0 0 20px 0;
}
.block__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}
.block__title::before, .block__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
  transition: all 0.3s ease 0s;
}
.block__title::before {
  transform: rotate(40deg);
  left: 0;
}
.block__title::after {
  transform: rotate(-40deg);
  left: 8px;
}
.block__title.active::before, .block__title.active::after {
  background-color: red;
}
.block__title.active::before {
  transform: rotate(-40deg);
}
.block__title.active::after {
  transform: rotate(40deg);
}
.block__text {
  padding: 10px 0 0 0;
  display: none;
}